@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.memo-main{
  display: flex;
  justify-content:space-between;
}

.post-main{
  padding-left: 20px;
}