 @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap'); 

html,
body,
#root,
.app{
  height:100%;
  width:100%;
  font-family:"Raleway",sans-serif;
  background-color: #aaa0c2;
}

button{
  
  align-items: center;
  background-color:#EDE4FF;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 2px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #0e0d0d;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0.5rem;
  outline: none;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  box-shadow: #dddcdc 0 0 0 3px, transparent 0 0 0 0;
}
.form-button{

   padding-left: 5rem ;
   padding-right: 5rem;
}



